/* :root {
  --cashmere: #e6b9a9;
--wafer: #e2d3d3;
--pigeon-post: #abc5db;
--ghost: #c7cedb;
--pigeon-post: #b8cbdb;
--oriental-pink: #c7a1a3;
--del-rio: #b29092;
--rose-fog: #eac4bc;
--bouquet: #b28c9c;
} */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Patrick+Hand&display=swap');
body{ 
  font-family: 'Patrick Hand', cursive;
  font-size: x-large;
  /* background-color: #CED3DC; */
  /* background-color: #747572; */
  /* background-color: blue; */
  color: #3c4046;
  /* color: #DBD9DB; */
  /* color: red; */
}

.content {
  display: block;
}

.header {
  display: inline-block;
}


ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
  padding-bottom: 2%;
  text-decoration: none;
  /* border-bottom: 2px solid var(--champ); */
}

.header {
  position: relative;
}

/* .myname {
  position: absolute;
  right: 0;
} */

/* .myname {
  float: right;
} */

/* .nav { */
  /* position: absolute; */
  /* float: right; */
  /* top: 20; */
  /* right: 50; */
/* } */

.active {
  background-color: #fae8e1;
  border-radius: 8%;
  /* padding: 10%; */
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

img {
  width: 100%;
}

.App {
  background-image: url('./assets/rasmus-smedstrup-mortensen-_ZtPsxAomeI-unsplash.jpg');
  /* background-color: #c7cedb; */
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: 100% 100%;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: block;
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem;
}

.middle {
  flex: 1 1 auto;
}




 /* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */



header {
  width: 100%;
  padding: 1.5%; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

#photo-header {
  width: 100%;
  position: relative;
}  

 #self-photo {
  width: 15%;
  /* position: absolute; */
  display: inline-block;
  top: 35%;
  left: 20%;
  padding: 0;
}  

.about-me-text {
  width: 100%;
  /* position: absolute; */
  top: 35%;
  left: 150%;
  padding: 0;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}



.regbox {
  flex: 0 1 calc(50% - 1em);
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.nameblock {
  transition: 0.5s ease;
  /* Change opacity back to 0 */
  opacity: 0;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.regbox:hover .image {
  opacity: 0.3;
}

.regbox:hover .nameblock {
  opacity: 1;
}





footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  margin: 1%;
}

.footer-links {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
 }



.fa {
  color:#450E24;
  margin: 1%;
  
}

.fa:hover {
  color: #607A68
}



@media screen and (max-width: 768px) {
  .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .regbox {
      flex: 0 1 calc(100% - 1em);
  }
}